Repository Energinet-DataHub/geh-settlement-report, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Remove lit, also skipped all tests for now, as removing limit breaks them
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargePriceRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargePricesRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update detect-changes.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Update SettlementReportFileRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportFileRequestHandlerIntegrationTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Remove unused files
  source/settlement-report/Common.Infrastructure/HealthChecks/DataLake/DataLakeHealthCheckBuilderExtensions.cs
  source/settlement-report/Common.Infrastructure/HealthChecks/DataLake/DataLakeHealthRegistration.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fix for missing values for quantity unit
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Made quantity_unit nullable
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportMonthlyAmountRow.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Persistence/Databricks/SettlementReportMonthlyAmountsViewEntity.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

bug: Remove unused files and fix columns for Quantity unit (#4)
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportMonthlyAmountRow.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Persistence/Databricks/SettlementReportMonthlyAmountsViewEntity.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/Common.Infrastructure/HealthChecks/DataLake/DataLakeHealthCheckBuilderExtensions.cs
  source/settlement-report/Common.Infrastructure/HealthChecks/DataLake/DataLakeHealthRegistration.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Remove limit, also skipped all tests for now, as removing limit breaks … (#3)
  .github/workflows/detect-changes.yml
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargePriceRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportFileRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargePricesRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepositoryTests.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

skip count for time series
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

skip some tests
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

skip count for time series (#5)
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update ChargePriceFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargePriceFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update ChargePriceFileGenerator.cs (#6)
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargePriceFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

conditional deployment settlement report
  .github/workflows/cd.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

conditional deployment settlement report (#7)
  .github/workflows/cd.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/detect-changes.yml
Owners: @Energinet-DataHub/TheOutlaws

Upgrade usages of TestCommon to 6.1.0
  source/settlement-report/Test.Core/Test.Core.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Upgrade usages of TestCommon to 6.1.0 (#8)
  source/settlement-report/Test.Core/Test.Core.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

remove count method
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportChargeLinkPeriodsRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportChargePriceRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportEnergyResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMeteringPointMasterDataRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMeteringPointTimeSeriesResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportWholesaleRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportFileRequestHandler.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportFromFilesHandler.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportRequestHandler.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargeLinkPeriodsFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargePriceFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/CsvFileGeneratorBase.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/EnergyResultFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointMasterDataFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/WholesaleResultFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportFromFilesHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.Interfaces/SettlementReports_v2/Models/SettlementReportPartialFileInfo.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportOrchestration.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

remove count method
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportChargeLinkPeriodsRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportChargePriceRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportEnergyResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMeteringPointMasterDataRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMeteringPointTimeSeriesResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/ISettlementReportWholesaleRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportFileRequestHandler.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportFromFilesHandler.cs
  source/settlement-report/CalculationResults/CalculationResults.Application/SettlementReports_v2/SettlementReportRequestHandler.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargeLinkPeriodsFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargePriceFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/CsvFileGeneratorBase.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/EnergyResultFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointMasterDataFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/WholesaleResultFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportFromFilesHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.Interfaces/SettlementReports_v2/Models/SettlementReportPartialFileInfo.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportOrchestration.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update package and use parallel
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

call the activity multiple times while there are still rows
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGenerator.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportOrchestration.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

update progress accordingly
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.Interfaces/SettlementReports_v2/Models/SettlementReportPartialFileInfo.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportOrchestration.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Implement log for measuring hydrate time
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlRowHydrator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Implmented logging
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksContextBase.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlRowHydrator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Persistence/Databricks/SettlementReportDatabricksContext.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportFileRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/CalculationResults.IntegrationTests.csproj
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargePricesRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksSqlQueryExecutor.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksSqlRowHydrator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlRowHydrator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksSqlRowHydrator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlRowHydrator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to actually parallel run
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/Experimental/DatabricksSqlRowHydrator.cs
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

remove skip take from time series
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

skip tests
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

remove all count query mentions
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargeLinkPeriodsFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargePriceFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/EnergyResultFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointMasterDataFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/WholesaleResultFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargePriceRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargePricesRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

bring back skip and take
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/ChargePriceFileGenerator.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/Generators/CsvFileGeneratorBase.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportChargePriceRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepository.cs
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

return tests
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Application/SettlementReports/SettlementReportFileRequestHandlerIntegrationTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargeLinkPeriodsRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportChargePricesRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportEnergyResultRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointMasterDataRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMonthlyAmountTotalRepositoryTests.cs
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportWholesaleRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fix ordering on quantities
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fix ordering on quantities (#12)
  source/settlement-report/CalculationResults/CalculationResults.Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add unit test for IsPartial
  source/settlement-report/CalculationResults/CalculationResults.IntegrationTests/Infrastructure/SettlementReports_v2/Generators/MeteringPointTimeSeriesFileGeneratorTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add basic webapi to settlement-repo
  SettlementReport.sln
  source/settlement-report/WebAPI/Program.cs
  source/settlement-report/WebAPI/Properties/launchSettings.json
  source/settlement-report/WebAPI/WebAPI.csproj
Owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/SettlementReportMeteringPointTimeSeriesResultRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

rename API project
  SettlementReport.sln
  source/settlement-report/SettlmentReports.WebAPI/Program.cs
  source/settlement-report/SettlmentReports.WebAPI/Properties/launchSettings.json
  source/settlement-report/SettlmentReports.WebAPI/SettlmentReports.WebAPI.csproj
Owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update action.yml
  .github/actions/dotnet-prepare-outputs/action.yml
Owners: @Energinet-DataHub/TheOutlaws

.github/CODEOWNERS:

* @Energinet-DataHub/team-raccoons
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
/source/settlement-report @Energinet-DataHub/Mandalorian @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Team-Raccoons
