Repository Energinet-DataHub/geh-settlement-report, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

.github/CODEOWNERS:

* @Energinet-DataHub/team-raccoons
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
/source/settlement-report @Energinet-DataHub/Mandalorian @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Team-Raccoons

Update action.yml
  .github/actions/dotnet-prepare-outputs/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Started implementing controller and handler
  SettlementReport.sln
  source/settlement-report/SettlementReports.Infrastructure/Commands/RequestSettlementReportJobCommand.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/IRequestSettlemenReportJobHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/RequestSettlementReporthHandler.cs
  source/settlement-report/SettlmentReports.WebAPI/Controllers/SettlementReportsController.cs
  source/settlement-report/SettlmentReports.WebAPI/Program.cs
  source/settlement-report/SettlmentReports.WebAPI/SettlmentReports.WebAPI.csproj
Owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

First implementation of Job API
  .github/actions/dotnet-prepare-outputs/action.yml
  SettlementReport.sln
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Infrastructure/Commands/RequestSettlementReportJobCommand.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/IRequestSettlemenReportJobHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/RequestSettlementReportHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/RequestSettlementReporthHandler.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
  source/settlement-report/SettlementReports.WebAPI/Program.cs
  source/settlement-report/SettlementReports.WebAPI/Properties/launchSettings.json
  source/settlement-report/SettlementReports.WebAPI/SettlementReports.WebAPI.csproj
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-raccoons, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Small update to support two jobs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/DatabricksJobNames.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/RequestSettlementReportHandler.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Implemented helper and start job
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReportInitializeHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/IRequestSettlemenReportJobHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Handlers/RequestSettlementReportHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/IDatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/ISettlementReportInitializeHandler.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add initial job status controller
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Application/Handlers/DatabricksJobNames.cs
  source/settlement-report/SettlementReports.Application/Handlers/IRequestSettlemenReportJobHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/RequestSettlementReportHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports.Application.csproj
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/SqlStatements/Mappers/CalculationTypeMapper.cs
  source/settlement-report/SettlementReports.Interfaces/Helpers/IDatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Implemented some job types (status and id) updated repository to save jobId
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202409081607_Add_JobId_To_SettlementReport.sql
  source/settlement-report/SettlementReports.Application/Handlers/IRequestSettlemenReportJobHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/RequestSettlementReportHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportFileRepository.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReportInitializeHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/RemoveExpiredSettlementReports.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/SettlementReportFileBlobStorage.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/GetSettlementReportsHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/Persistence/SettlementReportRepositoryTests.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/ISettlementReportInitializeHandler.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/JobRunId.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/JobRunStatus.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Type rename, added command
  source/settlement-report/SettlementReports.Application/Commands/RequestSettlementReportCommand.cs
  source/settlement-report/SettlementReports.Application/Handlers/IRequestSettlementReportJobHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/RequestSettlementReportHandler.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fix missing project
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportListHttpTrigger.cs
  source/settlement-report/Orchestration.SettlementReports/Orchestration.SettlementReports.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update action.yml
  .github/actions/dotnet-prepare-outputs/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Implement List
  source/settlement-report/SettlementReports.Application/Handlers/IListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Interfaces/Helpers/IDatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add first unit test
  source/settlement-report/SettlementReports.UnitTests/Handlers/RequestSettlementReportHandlerTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to newest package and use parallel
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to newest package and use parallel (#15)
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add EndedDateTime prop
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202409101100_Add_EndedDateTime_to_SettlementReport.sql
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

set ended time
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReportFinalizeHandler.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/GetSettlementReportsHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportDownloadHandlerIntegrationTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

test ended time
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportFinalizeHandlerIntegrationTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

explicit NULL on end date
  source/settlement-report/DatabaseMigration/Scripts/202409101100_Add_EndedDateTime_to_SettlementReport.sql
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/functionapphost.settings.json
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

private setter on end date
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/functionapphost.settings.json
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Send start end date with report dto (#16)
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202409101100_Add_EndedDateTime_to_SettlementReport.sql
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReportFinalizeHandler.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/GetSettlementReportsHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportDownloadHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportFinalizeHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add some tests for repository
  source/settlement-report/DatabaseMigration/Scripts/202409081607_Add_JobId_To_SettlementReport.sql
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportRepository.cs
  source/settlement-report/SettlementReports.Infrastructure/Persistence/SettlementReportRequest/SettlementReportRepository.cs
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/Persistence/SettlementReportRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update packages
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Added MarkAsCompleted
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportJobsFileRepository.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/StorageExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/SettlementReportJobsFileBlobStorage.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Updated status mapping
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fixed Delete blobs for jobs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportFileRepository.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportJobsFileRepository.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/RemoveExpiredSettlementReports.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/SettlementReportFileBlobStorage.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/SettlementReportJobsFileBlobStorage.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/GetSettlementReportsHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Fixtures/SettlementReportFileBlobStorageFixture.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add userMiddleware
  source/settlement-report/SettlementReports.WebAPI/Program.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

added missing dependency injections
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update SettlementReportModuleExtensions.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fixed missing dependencies
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/functionapphost.settings.json
  source/settlement-report/SettlementReports.Application/Handlers/IListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/StorageExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/Extensions/Options/SettlementReportStorageOptions.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/SettlementReportJobsFileBlobStorage.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportDownloadHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportFileRequestHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportFinalizeHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportFromFilesHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/IGetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update StorageExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/StorageExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add params, and updated supporting code
  source/settlement-report/SettlementReports.Application/Commands/RequestSettlementReportCommand.cs
  source/settlement-report/SettlementReports.Application/Handlers/RequestSettlementReportHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReportInitializeHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/StorageExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/RemoveExpiredSettlementReports.cs
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/Persistence/SettlementReportRepositoryTests.cs
  source/settlement-report/SettlementReports.Interfaces/Helpers/IDatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports.Interfaces.csproj
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/ISettlementReportInitializeHandler.cs
  source/settlement-report/SettlementReports.UnitTests/Handlers/RequestSettlementReportHandlerTests.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add filter properties to SettlementReport
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202409121100_Add_FilterProperties_to_SettlementReport.sql
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

remove default value for GridAreas
  source/settlement-report/DatabaseMigration/Scripts/202409121100_Add_FilterProperties_to_SettlementReport.sql
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add test
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Functions/SettlementReports/SettlementReportOrchestrationTests.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add filter properties to SettlementReport (#18)
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202409121100_Add_FilterProperties_to_SettlementReport.sql
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Functions/SettlementReports/SettlementReportOrchestrationTests.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/GetSettlementReportsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add IDatabricksJobhelper injection
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fixed nullable property which was not nullable
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/RequestedSettlementReportDto.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons
