Repository Energinet-DataHub/geh-settlement-report, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

.github/CODEOWNERS:

* @Energinet-DataHub/team-raccoons
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
/source/settlement-report @Energinet-DataHub/Mandalorian @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Team-Raccoons

Add timer trigger for status and notification sending (#53)
  .github/actions/dotnet-prepare-outputs/action.yml
  SettlementReport.sln
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202410261405_Add_IsNotificationSent_to_SettlementReport.sql
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
  source/settlement-report/Orchestration.SettlementReports/Orchestration.SettlementReports.csproj
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportRepository.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Function/Functions/SettlementReportUpdateStatusTimerTrigger.cs
  source/settlement-report/SettlementReports.Function/Program.cs
  source/settlement-report/SettlementReports.Function/Properties/launchSettings.json
  source/settlement-report/SettlementReports.Function/SettlementReports.Function.csproj
  source/settlement-report/SettlementReports.Function/host.json
  source/settlement-report/SettlementReports.Infrastructure/Contracts/UserNotificationTriggeredMetadata.cs
  source/settlement-report/SettlementReports.Infrastructure/Contracts/user_notification_triggered.proto
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/CalculationResultsExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Persistence/SettlementReportRequest/SettlementReportRepository.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportRequestHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/Persistence/SettlementReportRepositoryTests.cs
Owners: @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/team-raccoons, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Create HealthCheckEndpoint.cs
  source/settlement-report/SettlementReports.Function/Monitor/HealthCheckEndpoint.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Create HealthCheckEndpoint.cs (#54)
  source/settlement-report/SettlementReports.Function/Monitor/HealthCheckEndpoint.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add handler to cancel jobs
  source/settlement-report/SettlementReports.Application/Commands/CancelSettlementReportCommand.cs
  source/settlement-report/SettlementReports.Application/Handlers/CancelSettlementReportJobHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ICancelSettlementReportJobHandler.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

handle the new status
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Interfaces/SettlementReports_v2/Models/SettlementReportStatus.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add missing registrations
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/CalculationResultsExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add missing registrations (#56)
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/CalculationResultsExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

fixing registrations
  source/settlement-report/SettlementReports.Function/Program.cs
  source/settlement-report/SettlementReports.Function/SettlementReports.Function.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

catch exceptions from handler
  source/settlement-report/SettlementReports.Application/Handlers/CancelSettlementReportJobHandler.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

add unit tests
  source/settlement-report/SettlementReports.UnitTests/Handlers/CancelSettlementReportJobHandlerTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update injection module
  source/settlement-report/SettlementReports.Function/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
  source/settlement-report/SettlementReports.Function/Program.cs
  source/settlement-report/SettlementReports.Function/SettlementReports.Function.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to add new endpoint for get single
  source/settlement-report/SettlementReports.Application/Handlers/IGetSettlementReportHandler.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

fixing registrations (#57)
  source/settlement-report/SettlementReports.Function/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
  source/settlement-report/SettlementReports.Function/Program.cs
  source/settlement-report/SettlementReports.Function/SettlementReports.Function.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update notification protobuf.
  source/settlement-report/SettlementReports.Infrastructure/Contracts/user_notification_triggered.proto
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update notification protobuf. (#58)
  source/settlement-report/SettlementReports.Infrastructure/Contracts/user_notification_triggered.proto
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update IntegrationEventProvider.cs (#59)
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Change storage account for duration function.
  source/settlement-report/Orchestration.SettlementReports/host.json
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Test
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Test more.
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

API to Cancel Settlement Report Jobs (#55)
  source/settlement-report/SettlementReports.Application/Commands/CancelSettlementReportCommand.cs
  source/settlement-report/SettlementReports.Application/Handlers/CancelSettlementReportJobHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ICancelSettlementReportJobHandler.cs
  source/settlement-report/SettlementReports.Application/Handlers/ListSettlementReportJobsHandler.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Interfaces/Helpers/IDatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.UnitTests/Handlers/CancelSettlementReportJobHandlerTests.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
  source/settlement-report/SettlementReports.WebAPI/Extensions/DependencyInjection/SettlementReportModuleExtensions.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Change storage account for duration function. (#60)
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
  source/settlement-report/Orchestration.SettlementReports/host.json
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add C4 diagram.
  docs/diagrams/c4-model/model.dsl
  docs/diagrams/c4-model/views.dsl
  docs/diagrams/c4-model/views.json
Owners: @Energinet-DataHub/team-raccoons

Update diag.
  docs/diagrams/c4-model/model.dsl
  docs/diagrams/c4-model/views.dsl
  docs/diagrams/c4-model/views.json
Owners: @Energinet-DataHub/team-raccoons

Auto generated diagrams
  docs/diagrams/c4-model/views/SettlementReport.png
  docs/diagrams/c4-model/views/SettlementReportDetailed.png
Owners: @Energinet-DataHub/team-raccoons

Add C4 diagram. (#61)
  docs/diagrams/c4-model/model.dsl
  docs/diagrams/c4-model/views.dsl
  docs/diagrams/c4-model/views.json
  docs/diagrams/c4-model/views/SettlementReport.png
  docs/diagrams/c4-model/views/SettlementReportDetailed.png
Owners: @Energinet-DataHub/team-raccoons

Update DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update OrchestrationSettlementReportsAppFixture.cs
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Updated packages
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Application/SettlementReports.Application.csproj
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
  source/settlement-report/SettlementReports.WebAPI/SettlementReports.WebAPI.csproj
  source/settlement-report/Test.Core/Test.Core.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Revert "Update OrchestrationSettlementReportsAppFixture.cs"
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Revert "Change storage account for duration function. (#60)"
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
  source/settlement-report/Orchestration.SettlementReports/host.json
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksJobsHelper.cs (#62)
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/SettlementReports.Application/SettlementReports.Application.csproj
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
  source/settlement-report/SettlementReports.WebAPI/SettlementReports.WebAPI.csproj
  source/settlement-report/Test.Core/Test.Core.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Revert "Change storage account for duration function. (#60)" (#63)
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
  source/settlement-report/Orchestration.SettlementReports/host.json
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons
