Repository Energinet-DataHub/geh-settlement-report, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/TheOutlaws, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

.github/CODEOWNERS:

* @Energinet-DataHub/team-raccoons
/.github/actions @Energinet-DataHub/TheOutlaws
/.github/workflows @Energinet-DataHub/TheOutlaws
/source/settlement-report @Energinet-DataHub/Mandalorian @Energinet-DataHub/Team-Mosaic @Energinet-DataHub/Team-Raccoons

No SYO on charge owner.
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

No SYO on charge owner. (#41)
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

fix: Keep column in file, but without content.
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

fix: Keep column in file, but without content. (#42)
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add "null" handling for monthlytotal
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add "null" handling for monthlytotal (#44)
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountFileGenerator.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports_v2/Generators/MonthlyAmountTotalFileGenerator.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Only get status for running reports
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportListHttpTrigger.cs
  source/settlement-report/SettlementReports.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update SettlementReportListHttpTrigger.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportListHttpTrigger.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Only get status for running reports (#45)
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportListHttpTrigger.cs
  source/settlement-report/SettlementReports.Infrastructure/Experimental/DatabricksSqlQueryExecutor.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update SettlementReportListHttpTrigger.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportListHttpTrigger.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update SettlementReportListHttpTrigger.cs (#46)
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportListHttpTrigger.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Remove Node16 warnings
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

Update DatabricksJobsHelper.cs (#43)
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Remove Node16 warnings (#47)
  .github/workflows/cd.yml
Owners: @Energinet-DataHub/TheOutlaws

fix: EnergySupplier not set, when requesting as FAS.
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportRequestTrigger.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

fix: EnergySupplier not set, when requesting as FAS. (#48)
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportRequestTrigger.cs
  source/settlement-report/SettlementReports.WebAPI/Controllers/SettlementReportsController.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add --include-basis-data param
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Add --include-basis-data param (#49)
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to actual names for jobs, and add new param for blancefixing
  source/settlement-report/SettlementReports.Application/Handlers/DatabricksJobNames.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to actual names for jobs, and add new param for blancefixing (#50)
  source/settlement-report/SettlementReports.Application/Handlers/DatabricksJobNames.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksJobsHelper.cs
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update DatabricksJobsHelper.cs (#51)
  source/settlement-report/SettlementReports.Infrastructure/Helpers/DatabricksJobsHelper.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Upgrade packages.
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Orchestration.SettlementReports.IntegrationTests.csproj
  source/settlement-report/Orchestration.SettlementReports/Orchestration.SettlementReports.csproj
  source/settlement-report/SettlementReports.Application/SettlementReports.Application.csproj
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
  source/settlement-report/SettlementReports.IntegrationTests/SettlementReports.IntegrationTests.csproj
  source/settlement-report/SettlementReports.Interfaces/SettlementReports.Interfaces.csproj
  source/settlement-report/SettlementReports.UnitTests/SettlementReports.UnitTests.csproj
  source/settlement-report/SettlementReports.WebAPI/SettlementReports.WebAPI.csproj
  source/settlement-report/Test.Core/Test.Core.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Upgrade packages. (#52)
  source/settlement-report/Common.Infrastructure/Common.Infrastructure.csproj
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Orchestration.SettlementReports.IntegrationTests.csproj
  source/settlement-report/Orchestration.SettlementReports/Orchestration.SettlementReports.csproj
  source/settlement-report/SettlementReports.Application/SettlementReports.Application.csproj
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
  source/settlement-report/SettlementReports.IntegrationTests/SettlementReports.IntegrationTests.csproj
  source/settlement-report/SettlementReports.Interfaces/SettlementReports.Interfaces.csproj
  source/settlement-report/SettlementReports.UnitTests/SettlementReports.UnitTests.csproj
  source/settlement-report/SettlementReports.WebAPI/SettlementReports.WebAPI.csproj
  source/settlement-report/Test.Core/Test.Core.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Added Update Status timer trigger
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportUpdateStatusTimerTrigger.cs
  source/settlement-report/Orchestration.SettlementReports/Orchestration.SettlementReports.csproj
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/CalculationResultsExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Added notification sending
  source/settlement-report/DatabaseMigration/DatabaseMigration.csproj
  source/settlement-report/DatabaseMigration/Scripts/202410261405_Add_IsNotificationSent_to_SettlementReport.sql
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/DispatchIntegrationEventsTrigger.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportRepository.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Infrastructure/Contracts/UserNotificationTriggeredMetadata.cs
  source/settlement-report/SettlementReports.Infrastructure/Contracts/user_notification_triggered.proto
  source/settlement-report/SettlementReports.Infrastructure/Extensions/DependencyInjection/CalculationResultsExtensions.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Persistence/SettlementReportRequest/SettlementReportRepository.cs
  source/settlement-report/SettlementReports.Infrastructure/SettlementReports.Infrastructure.csproj
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update to ensure we only send when completed or failed
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportRepository.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Persistence/SettlementReportRequest/SettlementReportRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Fixed spelling error
  source/settlement-report/DatabaseMigration/Scripts/202410261405_Add_IsNotificationSent_to_SettlementReport.sql
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/DispatchIntegrationEventsTrigger.cs
  source/settlement-report/Orchestration.SettlementReports/Functions/SettlementReports/SettlementReportUpdateStatusTimerTrigger.cs
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/SettlementReport.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Persistence/SettlementReportRequest/SettlementReportRepository.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Added tests for notifications for repo
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/Persistence/SettlementReportRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update OrchestrationSettlementReportsAppFixture.cs
  source/settlement-report/Orchestration.SettlementReports.IntegrationTests/Fixtures/OrchestrationSettlementReportsAppFixture.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update SettlementReportRequestHandlerIntegrationTests.cs
  source/settlement-report/SettlementReports.IntegrationTests/Application/SettlementReports/SettlementReportRequestHandlerIntegrationTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Added new function app project for our timer trigger
  SettlementReport.sln
  source/settlement-report/SettlementReports.Function/Functions/SettlementReportUpdateStatusTimerTrigger.cs
  source/settlement-report/SettlementReports.Function/Program.cs
  source/settlement-report/SettlementReports.Function/Properties/launchSettings.json
  source/settlement-report/SettlementReports.Function/SettlementReports.Function.csproj
  source/settlement-report/SettlementReports.Function/host.json
Owners: @Energinet-DataHub/team-raccoons, @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Updates after review
  source/settlement-report/SettlementReports.Application/SettlementReports_v2/ISettlementReportRepository.cs
  source/settlement-report/SettlementReports.Function/Program.cs
  source/settlement-report/SettlementReports.Infrastructure/Notifications/IntegrationEventProvider.cs
  source/settlement-report/SettlementReports.Infrastructure/Persistence/SettlementReportRequest/SettlementReportRepository.cs
  source/settlement-report/SettlementReports.IntegrationTests/Infrastructure/SettlementReports_v2/Persistence/SettlementReportRepositoryTests.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Update Program.cs
  source/settlement-report/SettlementReports.Function/Program.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons

Added new project to output
  .github/actions/dotnet-prepare-outputs/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Update action.yml
  .github/actions/dotnet-prepare-outputs/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Update action.yml
  .github/actions/dotnet-prepare-outputs/action.yml
Owners: @Energinet-DataHub/TheOutlaws

Update Program.cs
  source/settlement-report/SettlementReports.Function/Program.cs
Owners: @Energinet-DataHub/Mandalorian, @Energinet-DataHub/Team-Mosaic, @Energinet-DataHub/Team-Raccoons
